<style type="text/css">
#${table}_form {
margin: 0;
padding: 10px 30px;
}

.${table}_item {
margin-bottom: 5px;
}

.${table}_item label {
display: inline-block;
width: 80px;
}
</style>

<script type="text/javascript" src="resources/js/common.js"></script>
<script type="text/javascript">
var ${table}Table = '${tableName}';
var ${table}Query;

$(function() {
	// need order, uncomment here
	//var orderBy = getIdDescOrder();
	//initDataGrid('#${table}_grid', appName + 'search/' + ${table}Table + '.json?orderBy=' + orderBy');
	
	// no need order
	initDataGrid('#${table}_grid', 'search/' + ${table}Table + '.json');
});

/**
 * 查询
 */
function doSearch${Table}() {
	${table}Query = getQueryJson();
	searchDataGrid('#${table}_grid', ${table}Query);
}

/**
 * 查询条件
 */
function getQueryJson(){
	// search from/to date demo
	/*
	var registerDateQuery = new Object();
	registerDateQuery.type = 'date';
	registerDateQuery.from = $('#drive_trainee_registerdate_from').datebox("getValue");
	registerDateQuery.to = $('#drive_trainee_registerdate_to').datebox("getValue");
	*/
	var json = {
		name : $('#${table}_text').val()
	};
	
	return json;
}

/**
 * 刷新
 */
function doRefresh${Table}() {
	$('#${table}_grid').datagrid('reload');
}

/**
 * 导出查询结果
 */
function export${Table}Query(){
	showConfirmMessage('是否导出查询结果？', function(r){
		if(r){
			var form = new Object();
			// 每列以分号分隔
			form.columns = 'id,编号';	
			
			form.table = ${table}Table;
			
			var query = ${table}Query ? ${table}Query : getQueryJson();
			form.query = JSON.stringify(query);
			
			// 表格显示的名称
			form.tableDisplayName = '${Table}';
			
			exportExcel(form);
		}
	});
}
</script>
<table id="${table}_grid" class="easyui-datagrid" style="width:700px;height:250px" data-options="toolbar:'#${table}_toolbar'">
    <thead>
        <tr>
        <th data-options="field:'ck'" checkbox="true"></th>
#if($fields)
#foreach($field in $fields)
        <th data-options="field:'$field'">$field</th>
#end
#else
		<!-- 在这里添加更多列 -->
		<th data-options="field:'id',width:80">ID</th>	
#end
        </tr>
    </thead>
</table>
<div id="${table}_toolbar" style="padding:5px;height:auto">
<!--     <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="showAddDialog('#${table}_form', '#${table}_dlg')">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="showEditDialog('#${table}_grid', '#${table}_form', '#${table}_dlg')">编辑</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="doRefresh${Table}()">刷新</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteItem('#${table}_grid', ${table}Table)">删除</a>
    </div> -->
  <!-- 添加查询条件  -->      
        名称<input id="${table}_text" type="text"/>
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch${Table}()">查询</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="clearCriteria('#${table}_toolbar')">清除</a>
  		<a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="showAddDialog('#${table}_form', '#${table}_dlg')">添加</a> 
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit "onclick="showEditDialog('#${table}_grid', '#${table}_form', '#${table}_dlg')">编辑</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="deleteItem('#${table}_grid', ${table}Table)">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-excel" onclick="export${Table}Query()">导出</a>
</div>

<div id="${table}_dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px" closed="true" buttons="#${table}_dlg_buttons">
     <form id="${table}_form" method="post" novalidate>
        <input name="id" type="hidden">
#if($fields)
#foreach($field in $fields)
		<div class="${table}_item">
			<label>$field</label>
			<input name="$field" >
		</div>
#end
#else
		<!-- 在这里添加更多列 -->
         <div class="${table}_item">
             <label>名称</label>
             <input name="name" >
         </div>
         <div class="${table}_item">
             <label>描述<</label>
             <textarea name="description" rows="5" cols="40"></textarea>
         </div>
#end
     </form>
 </div>
 <div id="${table}_dlg_buttons">
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveItem('#${table}_grid', '#${table}_form', '#${table}_dlg', ${table}Table)">保存</a>
     <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="closeDialog('#${table}_dlg')">取消</a>
 </div>


